/* line 3, ../sass/style.scss */
body {
  background: url(../images/bg.png) repeat center center transparent;
}

/* line 7, ../sass/style.scss */
#header {
  margin: 0px 0 20px 0px;
  background: white;
}
