@import "mixins";

body {
	background: url(../images/bg.png) repeat center center transparent;
}

#header {
	margin: 0px 0 20px 0px;
	background: white;
	 @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.04));

}
