@import "variables";
@import "mixins";


body {
	/*background: url(../images/bg.png) repeat center center transparent;*/
	background: #fff;
	border-top: 3px solid #ccc;
}

#header {
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 20px 0px;
	background: #ddd;
	#name-and-slogan {
		padding: 20px 0 20px 30px;
		#site-name {
			font-size: 30px;
		}
		#site-slogan {
			font-size: 20px;
			font-weight: lighter;
		}
	}
}

#main-menu {
	background-color: #fff;
	background-image: url(../images/splitbg.png);
	background-repeat: repeat-x;
	background-position: 40;
}

.navbar {
	margin-bottom: 20px;
	.navbar-inner {
		padding-left:  20px;
		padding-right: 20px;
		@include border-radius($baseBorderRadius);
		@include box-shadow(0 1px 4px rgba(0,0,0,.065));
		@include clearfix();
	}
}

.breadcrumb {
	margin: 0px;
	background-color: transparent;
}

.article {
	padding: 30px;
	position: relative;
	line-height: 20px;
	border: 1px solid #e2e2e2;
  	@include gradient-vertical($navbarBackground, $navbarBackgroundHighlight);
      	@include border-radius($baseBorderRadius);
        @include box-shadow(0 1px 4px rgba(0,0,0,.065));
}

#footer {
	padding: 30px 0;
}
